body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;

}

header {
    grid-column: 1/9;
    background-color: #ff5cef;
    height: 80px;
}

.content {
    grid-column: 2/8;
    background-color: aqua;
    height: 400px;

}

.footer {
    grid-column: 1/9;
    background-color: #a9ff85;
    height: 100px;

}