body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}

header {
    grid-column: 1/9;
    background-color: #dedede;
    height: 40px;
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    list-style: none;
}
nav ul li{
    padding-left: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li a{
    color: rgb(155, 60, 227);
    text-decoration: none;
}

.content {
    grid-column: 2/8;
    background-color: rgb(255, 176, 248);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    grid-column: 1/9;
    background-color: #e4e4e4;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.furever {
    text-align: center;
    font-size: 6em;
    color: rgb(249, 63, 221);
    margin: 0;

}

.find {
    text-align: center;
    font-size: 2rem;
}


.content button {
    background-color: rgb(146, 218, 254);
    border: none;
    padding: 0.5em 2em;
    border-radius: 100px;
    font-size: 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content button p {
    font-size: 2em;
    margin: 0;
}

.content img {
    width: 30%;
    padding-top: 5%;
    height: auto;
}

#page1 a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(0px, 1fr) 768px minmax(0px, 1fr);
    }

    .content {
        grid-column: 2 / 3;
    }
    .furever {
        font-size: 4em;


    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(0px, 1fr) 100% minmax(0px, 1fr)
    }

    .furever {
        font-size: 3em;

    }
nav a{
    font-weight: bold;
    background-color: #ffffff;
    grid-row: 2/3;
    grid-column: 2/8;
    position: sticky;
    top: 0;
    text-decoration: none;
    color: black
}
    
}