body {

    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to bottom, #eeeeee,#ffffff);

}

header {

    background-color: #003058;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url("utahtechlogo.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    padding-left: 1em;
    margin-bottom: 0;

}

nav {
    font-weight: bold;
    background-color: #f3f3f3;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
}